.insider-body {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 90%;
}

.insider-details {
    height: 100%;
    width: 100%;
    text-align: justify;
}

.insider-details img {
    width: 100%;
    object-fit: cover;
}


@media screen and (max-width: 970px) {
    .insider-body {
        flex-direction: column;
        width: 90%;
    }
}
