.coming-soon-container {
    text-align: center;
    margin-top: 100px;
  }
  
  .coming-soon-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .coming-soon-container p {
    font-size: 18px;
  }
  